<!DOCTYPE html>
<html lang="fr" data-th-replace="~{file-layout::layout(contenu=~{::main},titre=~{::title})}"
      xmlns:th="http://www.thymeleaf.org">

<title>Profil</title>


    <main>

        <form data-th-object="${profil}"   action="/register" method="post" >
            <th:block th:if="!${#authorization.expression('isAuthenticated()')}">
                <h1>Nouveau Profil</h1>
            </th:block>

            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <h1 th:text="'Profil de ' + ${principal.username}"></h1>
            </th:block>

            <ul class="flex-outer">
                <li>
                    <label for="inputPseudo">Pseudo : <span>*</span></label>
                    <input class="saisie" type="text" id="inputPseudo" th:field="*{pseudo}" required>
                </li>
                <li>
                    <label for="inputNom">Nom : <span>*</span></label>
                    <input class="saisie" type="text" id="inputNom" th:field="*{nom}" required>
                </li>
                <li>
                    <label for="inputPrenom">Prénom : <span>*</span></label>
                    <input class="saisie" type="text" id="inputPrenom" th:field="*{prenom}" required>
                </li>
                <li>
                    <label for="inputEmail">Email : <span>*</span></label>
                    <input class="saisie" type="email" id="inputEmail" th:field="*{email}" required>
                </li>
                <li>
                    <label for="inputTelephone">Téléphone : <span>*</span></label>
                    <input class="saisie" type="tel" id="inputTelephone" th:field="*{telephone}" >
                </li>
                <li class="adresse">
                    <label for="inputAdresse">Adresse : <span>*</span></label>
                    <input id="inputAdresse"placeholder="Rue" type="text" th:field="*{adresse.rue}" required>
                    <input id="inputCodePostal" placeholder="Code Postal" type="text" th:field="*{adresse.codePostal}" required>
                    <input id="inputVille" placeholder="Ville" type="text" th:field="*{adresse.ville}" required>
                </li>
                <li>
                    <label for="inputMotDePasse">Mot De Passe : <span>*</span></label>
                    <input class="saisie" type="password" id="inputMotDePasse" th:field="*{motDePasse}" required>
                </li>
                <input id="inputRole" th:field="*{authorities}" hidden="true" data-th-value="0">
                <li>
                    <label for="inputMotDePasseConfirmation">Confirmer mot De Passe : <span>*</span></label>
                    <input class="saisie" type="password" id="inputMotDePasseConfirmation"  required>
                </li>
            </ul>

            <ul class="boutons">
                <th:block th:if="!${#authorization.expression('isAuthenticated()')}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input class="btnValid" type="submit" value="Valider">
                </th:block>

                <input class="btnAnnul" type="button" value="Annuler">
            </ul>
        </form>
    </main>

</html>